#  All files in the package directory are included if no local 
# .gitignore or .npmignore file exists. 
# If both files exist and a file is ignored by .gitignore 
# but not by .npmignore then it will be included.
test/
